@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-family: 'Lato', "helvetica-neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


