.home {
    background: url("../images/home-desk.jpeg") no-repeat fixed center center;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    height: 95vh;
}

h1 {
    color: #ffffff;
    margin: 0;
}

p {
    color: #ffffff;
}