@import url('https://fonts.googleapis.com/css?family=Quicksand');

.home {
    background: url("../images/home-desk.jpeg") no-repeat fixed center center;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    height: 95vh;
}

.home h1, h4{
    color: #ffffff;
    margin: 0;
}

.home h4 {
    padding-top: 30vh;
    padding-left: 25%;
    font-size: 45px;
    font-style: italic;
}

.home h1 {
    padding-left: 30%;
    padding-top: 3vh;
    font-size: 64px;
    font-family: 'Quicksand', sans-serif;
}
